In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLALchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Bonus Challenge Assignment: Temperature Analysis II

In [9]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, maximum, and average temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# For example
print(calc_temps('2012-02-28', '2012-03-05'))

[(62.0, 69.57142857142857, 74.0)]

In [36]:
# Use the function `calc_temps` to calculate the tmin, tavg, and tmax 
# for a year in the data set
mam2017 = calc_temps('2017-08-01', '2017-08-07')
mam2016 = calc_temps('2016-08-01', '2016-08-07')
mam2015 = calc_temps('2015-08-01', '2015-08-07')
mam2014 = calc_temps('2014-08-01', '2014-08-07')
mam2013 = calc_temps('2013-08-01', '2013-08-07')
all2017 = list(np.ravel(mam2017))
all2016 = list(np.ravel(mam2016))
all2015 = list(np.ravel(mam2015))
all2014 = list(np.ravel(mam2014))
all2013 = list(np.ravel(mam2013))
data = all2017, all2016, all2015, all2014, all2013
avg_tobs = pd.DataFrame(data, columns=['min', 'avg', 'max'])
avg_tobs

    min        avg   max
0  72.0  79.250000  83.0
1  72.0  77.795455  83.0
2  69.0  78.272727  85.0
3  71.0  77.456522  83.0
4  69.0  76.081633  81.0

In [43]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for bar height (y value)
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)
x_pos = 1
avg_std = np.std()

#fig, ax = plt.subplots()
#ax.bar(x_pos, all_tobs[1], yerr=error, align='center', alpha=0.5, ecolor='black', capsize=10)
#ax.set_ylabel('Coefficient of Thermal Expansion ($\degree C^{-1}$)')
#ax.set_xticks(x_pos)
#ax.set_xticklabels(materials)
#ax.set_title('Trip Avg Temp')
#ax.yaxis.grid(True)

# Save the figure and show
#plt.tight_layout()
#plt.show()

0.0

### Daily Rainfall Average

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's 
# matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Use this function to calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()

# For example
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip
start_date = '2017-08-01'
end_date = '2017-08-07'

# Use the start and end date to create a range of dates


# Strip off the year and save a list of strings in the format %m-%d


# Use the `daily_normals` function to calculate the normals for each date string 
# and append the results to a list called `normals`.

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`

## Close Session